*{
    margin:0;
}
nav{
    background-color: lightgreen;
    margin-bottom:10px;
}
main{
    overflow:auto;
}
nav ul{
    list-style-type: none;
    padding:10px;
    margin:0;
    
}
nav ul li{
    display: inline;
    margin-left: 20px;
    
}
nav ul a:hover{
    background-color: red;
    
}
nav ul a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 200%;
    text-align: center;
}
body{
    background-color: skyblue;
}