main ul{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    padding-top:10px;
    background-color:white;
}
main ul li{
    margin-left:auto;
    margin-right:auto;
}
main ul li img{
    max-width:98%;
}
@media only screen and (min-width: 650px) {
    main ul{
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
}
    main ul li:nth-child(even){
        flex:50%;
    }
    main ul li:nth-child(odd){
        flex:50%;
    }
    
}
@media only screen and (min-width: 950px) {
   main ul li:nth-child(n){
        flex:33%;
    }
   main ul li:nth-child(2n){
        flex:33%;
    }
   main ul li:nth-child(3n){
        flex:33%;
    }
}
