main ul{
    list-style-type: none;
    width:100%;
}
main ul li{

   float:left;
   margin: 5px;
   overflow:auto;
   height:300px;
   width:250px;
}
footer{
    clear: left;
}
h1{
    text-align:center;
}

