/*mobile first design*/
main{
    margin:0;
}
main ul{
    width:100%;
    margin:auto;
    list-style-type: none;
    display:grid;
    padding-top:5px;
    background-color:white;
    grid-template-columns: 1fr;
}


/*2 column*/
@media only screen and (min-width: 650px) {
    main ul{
        grid-template-columns: 1fr 1fr;
    }
    
    main ul{
        overflow:auto;
        grid-gap:10px;
    
    }
    main ul li{
        overflow:auto;
        max-height:300px;
        width:100%;
    }
}

@media only screen and (min-width: 950px) {
    main ul{
    grid-template-columns: 1fr 1fr 1fr;

    }
}
